[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Fatma PALTACI
	email = 141141344+Fatmaalida@users.noreply.github.com
